@keyframes panning {
    from {
        background-position-x: 0%;
    }

    to {
        background-position-x: -200%;
    }
}

.circle-gradient {
    background: radial-gradient(50% 50% at center, #9f4285 10%, rgba(0, 0, 0, 0) 90%);
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0), #5a264b, rgba(0, 0, 0, 0)); */
    animation: panning 10s linear infinite;
    background-size: 200%;
}

.glass-morphism {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}